.navegacao {
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
}

.link {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--cor-fonte-principal);
}

.link:hover {
    text-decoration: underline;
    font-weight: 550;
    font-size: 1.2rem;
}

@media (max-width: 744px) {
    .navegacao {
        height: 72px;
    }
}